@import 'utilities';

//PAGE CONTAINER
.page-container {
  width: 800px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}

//HOME PAGE
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;

  .home-btn-container {
    width: 60%;
    margin: auto;
  }
}

//TASKS PAGE
.tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .tasks-header-sort {
    display: flex;
    p {
      margin-right: 1rem;
    }
  }
}

.to-detail {
  cursor: pointer;
}

//USERS PAGE
.user-table {
  width: 80%;
  margin: 1rem auto;

  .user-table-head {
    display: grid;
    grid-template-columns: 3fr 7fr;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 4px;

    div {
      border: 1px solid #333;
      padding: 0.1rem 0.3rem;
      border-radius: 4px;
    }
  }
}

//USERINFO & TASK DETAIL PAGE
.user-body,
.detail-body {
  margin: 2rem auto;
  display: flex;
  .user-body-picture {
    margin-right: 0.5rem;
  }
  .user-body-table {
    display: flex;
    flex-direction: column;

    & > div:last-child {
      div {
        margin-bottom: 0.5rem;
      }
    }

    .user-body-table-group {
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
    }
    .group-profile {
      width: 250px;
    }

    .user-btn-group {
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: -0.5rem;
    }
  }
  .table-profile {
    margin-top: -2rem;
  }

  .user-body-picture {
    height: 250px;
    width: 250px;
    border: 1px solid #333;
    margin-bottom: 1rem;
  }
}

// TASK DETAIL PAGE
.detail-body {
  margin: 2rem auto;

  .detail-body-table {
    width: 55%;
    margin: 0 auto;

    .detail-body-table-group {
      width: 100%;
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }

    .detail-btn-group {
      width: 100%;
      display: flex;
      justify-content: space-between;

      & > div {
        display: flex;
      }
    }
  }
}

//SIGN PAGE & EDIT USER PAGE
.sign-body {
  width: 100%;
  display: flex;
}

.signin-container,
.signup-container,
.edit-user-container {
  margin-top: 1rem;
  padding: 0 1.5rem;
  width: 50%;

  .signin-title,
  .signup-title {
    width: 80%;
    margin: 0 auto;
  }
}

//EDIT USER PAGE

.edit-user-header {
  .hide-lg {
    display: none;
  }
}
.edit-user-container {
  margin: 1rem auto;

  .edit-user-btn-group {
    margin-bottom: -0.5rem;
  }
}

@import 'mobile';
