@import 'utilities';

.task-table,
.user-table {
  width: 80%;
  margin: 1rem auto;

  .task-table-head,
  .user-table-head {
    display: grid;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 4px;

    div {
      border: 1px solid #333;
      padding: 0.1rem 0.3rem;
      border-radius: 4px;
    }
  }

  .task-table-head {
    grid-template-columns: 1.5fr 5fr 2fr 0.8fr;
  }

  .user-table-head {
    grid-template-columns: 4fr 6fr;
  }
}

.task-list,
.user-list {
  display: grid;
  text-align: center;
  padding: 0.3rem;
  border-bottom: 1px solid #333;

  .hide-lg {
    display: none;
  }
}

.task-list {
  grid-template-columns: 1.5fr 5fr 2fr 0.8fr;
}

.user-list {
  grid-template-columns: 4fr 6fr;
}

.to-delete {
  cursor: pointer;
}

.message-box {
  .message {
    display: flex;

    & strong {
      flex: 0 0 0;
      margin-right: 0.5rem;
      align-self: flex-start;
    }

    & p {
      flex: 1 1 0;
    }
  }
  .message-time {
    margin-top: -0.4rem;
    display: flex;
    justify-content: flex-end;
  }
}

@import 'mobile';
