@import 'utilities';

.task-table {
  width: 80%;
  margin: 1rem auto;

  .task-table-head {
    display: grid;
    grid-template-columns: 1.5fr 5fr 2fr 0.8fr;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 4px;

    div {
      border: 1px solid #333;
      padding: 0.3rem;
      border-radius: 4px;
    }
  }
}

.task-list {
  display: grid;
  grid-template-columns: 1.5fr 5fr 2fr 0.8fr;
  text-align: center;
  padding: 0.3rem;
  border-bottom: 1px solid #333;
}

.to-delete {
  cursor: pointer;
}
